* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #ebf5fc;
}
.card {
  position: relative;
  border: none;
  background: #ebf5fc;
  border-radius: 40px;
  box-shadow: -6px -6px 20px rgba(255, 255, 255, 1),
    6px 6px 20px rgba(0, 0, 0, 0.1);
}
.btn {
  border-radius: 5px;
  background: #ebf5fc;
  box-shadow: 5px 5px 10px #dde6ed, -5px -5px 10px #f9ffff;
  color: #f97f51;
}
